.container {
  border: 3px gainsboro solid;
  padding: 10px;
}
.title span {
  font-style: italic;
  font-family: lato, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  margin-right: 40px;
  color: #757575;
}
.title {
  text-align: center;
  margin-bottom: 15px;
}
